*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans Display', sans-serif;
}
table{ 
    background: #ac5017;
}
.negro{ 
    letter-spacing: 1px;
    background: #F5A471;
    font-weight: bold;
}
nav {
    border: solid;
    box-shadow: black;
}
title{
    color: #fac9a8 ;
}
h1{
    color: #ece288 ;
}
h2{
    color: #f87b2a ;
}
p{
    color: #1a1208;
    font-weight: bolder;
}
.marron{
    color: #c0a683 ;
    font-weight: 700;
}
td{
    color: #440e26 ;
    font-style: normal;
    font-weight: 700;
}
/*------------HEADER---------------*/

.header-banner{
    background-color: brown;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
/*------------NAV---------*/

.header__navbar--principal ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-image: url("../img/wood.jpg");
    background-color: brown;
}
  
.header__navbar--principal li .boton {
    color: black;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
}

/* @media-query */
  
@media screen and (min-width: 480px) {
    .header__navbar--principal ul {
      display: flex;
      justify-content: center;
    }
}

.boton {
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: cornsilk;
    padding: 1px;
    border: solid 1px black;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
}
/*----------------*/

.beige{
    background-image: linear-gradient(to bottom, rgb(124, 73, 14) , rgb(216, 143, 32) , rgb(253, 222, 117) );
}
.body-black {
    background-image: linear-gradient(to bottom, rgb(17, 17, 17) , rgb(48, 47, 47) , rgb(61, 60, 60));
}
.leyenda{
    line-height: 1rem;
    border: solid 1px rgb(155, 102, 42);
}
.black {
    font-style: oblique;
    font-size: 20px;
    color: black;
}
.white{
    font-style: oblique;
    font-size: 20px;
    color: white;
}
.h-white{
    color: rgb(197, 192, 192);
    font-style: normal;
}
/*----------CONTENIDO GALERIA--------*/

.titulo-galeria{
    color: black;
    border: outset;
    background-color: rgb(248, 215, 153);
    border-width: 3px;
    text-align: center;

}
.contenido-galeria{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 2px;
    color: rgb(44, 3, 97);
    font-size: 18px;
}
.fondo-galeria{
    background-color: rgb(219, 170, 152);
    line-height: 1.5rem;
    text-align: justify;
    width: 65%;
    font-size: 1.1rem;
    padding: 2rem;
    float: left;
}
/*.maderas{
    background-color: blueviolet;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.maderas img{
    width: 70%;
}*/
.img1{
    width: 550px;
    height: 550px;
    padding: 5px 7px 5px 5px;
}
.img-3876{
    background-color: aquamarine;
}
.img2{
    width: 30px;
    height: 10px;
    padding: 37px 7px 5px 5px;
    float: right;
    border-radius: initial;
}
.abcd{
    width: 10px;
    height: 10px;
    padding: 5px;
    float: left;
}
/*-----COLUMNA DERECHA-----*/
.columna{
    background-color: peru;
    font-size: 1.1rem;
    width: 20%;
    padding: 1rem;
    float: right;
}
.opciones{
    list-style: none;
}

/*--------FOOTER------*/
footer{
    background-color: grey;
    color: lavender;
    clear: both;
    margin: 0.5px;
    margin-bottom: 3px;
    width: 100%;
    height: 45px;
}
.bi{
    margin-left: 5px;
}
.footer-text{
    text-align: center;
    color: bisque;
    margin-bottom: 5px;
    padding-bottom: 15px;
  }
/*----------SOBRE NOSOTROS (FLEXBOX)--------*/
.about-flexbox{
    display: flex;
    border-radius: 20px;
    margin: 20px;
    padding: 25px;
    background-color: lightcoral;
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content: space-around;
    font-weight: bold;
    flex-flow: wrap;
}
.about-flexbox div{
    display: flex;
    border-radius: 10px;
    margin: 5px;
    padding: 25px;
    background-color: lightpink;
}

/*---------TRANSFORMACIONES------*/
.transf{
    height: 75px;
    width: 160px;
    transition: 0.3s;
}
.transf:hover{
    height: 100px;
    width: 200px;
    padding: 20px;
    background-color: rgb(241, 174, 143);
}
#name, #apellido{
    height: 20px;
    width:100px;
    transition: 1s;
}
#name:focus{
    width: 150px;
}
#apellido:focus{
    width: 150px;
}
#consulta{
    height: 30px;
    width: 150px;
}
#consulta:focus{
    height: 150px;
    width: 200px;
    transition: 1s;
}
.boton-borrar, #prov{
    cursor: pointer;
}
.boton-borrar:hover{
    color: rgb(185, 12, 70);
}
.header__navbar--principal li .boton:hover {
    background: tomato;
    color: white;
}

.caja3{
    -webkit-transition: 1s linear;
    transition: 1s linear;
  }
.caja3:hover{
    -webkit-transform: translate(10%);
    transform: translate(10%);
}

.prueba{
      color: #c0a683;
      font-style: oblique;
}
.azul{
      background-color: #ecece6;
      color: rgb(37, 17, 17);
      font-size: 25px;
      text-align: center;
      text-transform: capitalize;
      -webkit-transition: 1s linear;
      transition: 1s linear;

}
.azul:hover{
    -webkit-transform: translate(10%);
    transform: translate(10%);
}
.mushi{
    font-style: italic;
    background-color: rgb(226, 236, 215);
    text-align: center;
    margin-bottom: 3px;
}

/*---------GALERIA------------*/

.container-img{
    background-color: burlywood;
}
.abcd{
    width: 60rem;
    height: 45rem;
    border-radius: 3%;
}
/*----------about----------*/
#grilla{
    display: grid;
    grid-template-areas: 
    "nav header publicidad"
    "nav productos publicidad"
    "nav servicios publicidad"
    "footer footer footer";
    grid-template-rows: 75px 1fr 75px;
    grid-template-columns: 20% auto 15%;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    height: 75vh;
    margin: 3px;
}
.productos{
    grid-area: productos;
    background-color: orange;
}
header{
    grid-area: header;
    background-color: teal;
}
.nav-respo{
    grid-area: nav;
    background-color: rgb(50, 104, 205);
}
.border{
    grid-area: publicidad;
    background-color: turquoise;
}
.nav-about{
    font-size: 0.90rem;
    font-variant: small-caps;
}
.info-about{
    font-size: 1.2rem;
}
.about-title{
    font-size: xx-large;
}
@media screen and (max-width: 768px){

.header__navbar--principal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.productos{
    background-color: #e465a5;
}
.nav-respo{
    background-color: #f3b1c7c4;
}
.border{
    background-color: rgb(238, 88, 125);
}
}

@media screen and (min-width: 768px) {

.header__navbar--principal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.productos{
    background-color: #08f586;
}
.nav-respo{
    background-color: #79f5ccc4;
}
.border{
    background-color: rgb(12, 110, 72);
}
footer{
    background-color: rgb(57, 75, 177);
}
@media screen and (min-width: 1200px) {

.header__navbar--principal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.productos{
    background-color: #515c61;
}
.nav-respo{
    background-color: #808bf0c4;
    background-image: linear-gradient(to bottom, #0875a8c4, #87b7dfc4)
}
.border{
    background-color: rgb(139, 181, 194);
}
footer{
    background-color: rgb(93, 93, 170);
}
}
